{% extends "base.html" %}

{% block content %}
    <hr>
    <h2>
        Список статей
    </h2>
    <ul class="list-posts">
        {% for p in posts -%}
            <li>
                <p class="name">
                    <a href="{{url_for('showPost', alias=p.url)}}">
                        {{p.name}}
                    </a>
                </p>
                <p class="annonce">
                    {{p.text[:50] | striptags}}
                </p>
            </li>
        {% endfor -%}
    </ul>
    <br>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{url_for('static', filename='image/first.png')}}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='image/second.png')}}" class="d-block w-100">
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
{% endblock %}